.hero
    h1.menu__title Vestibulum pulvinar nisi orci vel
    p.menu__description Nam velit libero, ornare ac neque vitae, elementum lobortis justo. Vestibulum non finibus dolor.
    a.hero__button(href="/") Call the action
