.hero {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url(/asset/image/StyledHeroImage/StyledHeroBackground.png);
  background-position: cover;
  padding: 15px;
  & > a:last-child {
    margin-bottom: 22px;
  }
  color: white;
}

.hero__button {
  display: inline-block;
  text-decoration: none;
  background-color: #00aeef;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  font-family: "Roboto";
}
