.footer
    p.footer__title produced by Company Name
    nav.footer__nav
        a.footer__link(href=`${baseUrl}terms`) Terms
        a.footer__link(href=`${baseUrl}faqs`) FAQs
        a.footer__link(href=`${baseUrl}privacy-policy`) Privacy Policy