.footer {
  text-align: center;
  height: 150px;
  background-color: #1c232e;
  color: white;
  margin-top: 52px;
  &__title {
    color: white;
    padding: 32px;
  }

  &__link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 10px;

    &:not(:last-child) {
      border-right: 1px solid gray;
    }
  }
}
