.footer
    p.footer__title produced by Company Name
    nav.footer__nav
        a.footer__link(href="/terms") Terms
        a.footer__link(href="/faqs") FAQs
        a.footer__link(href="/privacy-policy") Privacy Policy