extends _component/layout/base

block awesome-content 
  
  include _component/hero/hero
  include _component/course/course
  include _component/link-list/link-list
  include _component/footer/footer
  include _component/menu/menu
  include _component/burger/burger
  